<div class="cardcontent">
    <h2>Pioneiros!</h2>
    <h5>by João Camelo, Fev 12, 2019</h5>
    <hr>
    <p>Some text..</p>
    <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" 
    alt="Angular Logo" 
    src="../../../assets/pioneiros_progresso.png">
    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>