<div class="cardcontent">
    <h2>Década. 90 até atualidade</h2>
    <h5><i>“O Crescimento, A Mudança e a vivência das ideias Escutistas</i></h5>
    <hr>
    Uma das características mais marcantes do nosso Agrupamento, foi a de durante mais de 60 anos de vida ter sido
    unicamente composto por rapazes.
    Só em Setembro de 1993, foi oficializada a entrada das primeiras raparigas no nosso Agrupamento, através da
    decisão do Conselho de Agrupamento de 10.07.1993.
    <p></p>
    Foi dos últimos Agrupamentos da Região do Porto a tornar-se coeducativo.
    Outro facto digno de registo, foi a eleição da primeira dirigente como Chefe de Agrupamento em 03.07.2009.
    A admissão de raparigas no Agrupamento de Cedofeita, contribuiu decisivamente para o fortalecimento da
    qualidade do Agrupamento.
    A atividade do Agrupamento é ininterrupta desde 1931 até aos dias de hoje.
    <p></p>
    <figure>

        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="Angular Logo"
            src="../assets/caderno.jpg">
        <figcaption style="text-align:center;margin-top: 5px;">Caderno de atas do Conselho de Guias</figcaption>
    </figure>
</div>
<p>
</p>
<div class="cardcontent">
    <h2>Década. 50/60</h2>
    <h5><i>“A reorganização”</i></h5>
    <hr>
    A Alcateia 40 e o Grupo 74 deram origem em 1957, de acordo com a reorganização de todas as Unidades a
    nível Nacional, ação promovida pela Junta Central, ao atual Agrupamento nº 10.
    <p></p>
    A título de curiosidade, na altura os Agrupamentos eram numerados em carateres romanos, de modo a se
    distinguirem do número de Unidades que era em números árabes. Assim, o nosso Agrupamento era denominado
    pelo X.
    Em 1966 é filiado o Clã 5 tendo como Patrono D. Afonso Henriques.
    <p></p>
    <figure>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="Angular Logo"
            src="../assets/bandeira_original.jpg">
        <figcaption style="text-align:center;margin-top: 5px;">Bandeira original</figcaption>
    </figure>
</div>
<p>
</p>
<div class="cardcontent">
    <h2>Década 30/40</h2>
    <h5><i>“Fundação do Agrupamento”</i></h5>
    <hr>
    No dia 15 de novembro de 1931, por iniciativa do então Pároco de Cedofeita, D. António Valente da
    Fonseca, mais tarde Bispo de Vila Real, fundaram-se a Alcateia 40 S. Jorge, tendo como Chefe de Alcateia
    Augusto Manuel Nunes Ferreira e o Grupo 74, tendo como chefe de Grupo Ilídio Augusto Barros Feliz.
    <p></p>
    Faziam parte da Direção o Chefe Administrativo (hoje Secretário de Agrupamento) Leonardo Pedro de
    Castro Júnior e o Diretor (hoje Assistente de Agrupamento) D. António Valente da Fonseca.
    A Alcateia começou com dois bandos de Lobitos e o Grupo com duas patrulhas de “scouts”: A patrulha
    Leão e a patrulha Canguru.
    <p></p>
    No dia onde se comemorava a festa do Padroeiro da Paróquia S. Martinho, assistiu-se à
    inauguração destas Unidades escutistas, que proporcionaram um agradável espetáculo a todos os
    paroquianos, tendo convidado nessa altura todos os Grupos e Alcateias do Núcleo do Porto.
    <p></p>
    <figure>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="Angular Logo"
            src="../assets/padre_manuel_fonseca.jpg">
        <figcaption style="text-align:center;margin-top: 5px;">Padre Manuel Valente da Fonseca</figcaption>
    </figure>
</div>