<h2><u>Década. 90 até atualidade</u></h2>
<h3><i>“O Crescimento, A Mudança e a vivência das ideias Escutistas</i></h3>
Uma das características mais marcantes do nosso Agrupamento, foi a de durante mais de 60 anos de vida ter sido unicamente composto por rapazes.
Só em Setembro de 1993, foi oficializada a entrada das primeiras raparigas no nosso Agrupamento, através da decisão do Conselho de Agrupamento de 10.07.1993. 
Foi dos últimos Agrupamentos da Região do Porto a tornar-se coeducativo.
<p>Outro facto digno de registo, foi a eleição da primeira dirigente como Chefe de Agrupamento em 03.07.2009.
A admissão de raparigas no Agrupamento de Cedofeita, contribuiu decisivamente para o fortalecimento da qualidade do Agrupamento.
<p>A atividade do Agrupamento é ininterrupta desde 1931 até aos dias de hoje.

<h2><u>Década. 50/60</u></h2>
<h3><i>“A reorganização”</i></h3>
A Alcateia 40 e o Grupo 74 deram origem em 1957, de acordo com a reorganização de todas as Unidades a nível Nacional, ação promovida pela Junta Central, ao atual Agrupamento nº 10.
<p>A título de curiosidade, na altura os Agrupamentos eram numerados em carateres romanos, de modo a se distinguirem do número de Unidades que era em números árabes. Assim, o nosso Agrupamento era denominado pelo X.
<p>Em 1966 é filiado o Clã 5 tendo como Patrono D. Afonso Henriques.
<p>
