<div class="cardcontent">
    <h2>Década. 90 até atualidade</h2>
    <h5><i>“O Crescimento, A Mudança e a vivência das ideias Escutistas</i></h5>
    <hr>
    Uma das características mais marcantes do nosso Agrupamento, foi a de durante mais de 60 anos de vida ter sido
    unicamente composto por rapazes.
    Só em Setembro de 1993, foi oficializada a entrada das primeiras raparigas no nosso Agrupamento, através da
    decisão do Conselho de Agrupamento de 10.07.1993.
    <p></p>
    Foi dos últimos Agrupamentos da Região do Porto a tornar-se coeducativo.
    Outro facto digno de registo, foi a eleição da primeira dirigente como Chefe de Agrupamento em 03.07.2009.
    A admissão de raparigas no Agrupamento de Cedofeita, contribuiu decisivamente para o fortalecimento da
    qualidade do Agrupamento.
    A atividade do Agrupamento é ininterrupta desde 1931 até aos dias de hoje.
    <p></p>
    A 8 de Novembro de 1992 falece o icónico Chefe Manuel Faria. Foi uma das personalidades mais importantes no desenvolvimento do escutismo católico nacional e também em Cedofeita. Recebeu a mais alta distinção do CNE e foi agraciado pelo papa João Paulo II.
    <p></p>
    Em 17 de Novembro de 2007 comemora-se o 75º aniversário do Agrupamento, coincidindo com a abertura da sede após extenso trabalho de remodelação.
    <p></p>
    Em 17 de Novembro de 2012 comemora-se o 80º aniversário do Agrupamento. Esta data ficou marcada pelo fecho de uma capsula do tempo, a ser aberta no 100º aniversário do Agrupamento.
    <p></p>
    <figure>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="Angular Logo"
            src="../assets/novo_logo.jpg">
        <figcaption style="text-align:center;margin-top: 5px;">Inauguração da placa com o novo logótipo do Agrupamento</figcaption>
    </figure>
</div>
<p>
</p>
<div class="cardcontent">
    <h2>Década. 70/80</h2>
    <h5><i>“”</i></h5>
    <hr>
    A 19 de Outubro de 1970 entra em funções o novo pároco e Assistente do Agrupamento Orlando Mota. Até a sua sucessão em 2016, serviu a paróquia e o Agrupamento com alegria, dedicação e determinação.
    <p></p>
    A 20 de Novembro de 1981 o Agrupamento comemora o 50º Aniversário com um fim de semana repleto de atividades, que coincidiu com a inauguração da nova sede. Aproveitanto esta efeméride o Agrupamento edita uma medalha comemorativa do aniversário.
    <p></p>
    Entre 4 e 10 de Agosto de 1987 ocorre o 17º Acanac em Bagunte (Vila do Conde), com participação de uma patrulha de juniores, uma equipa de séniores e uma equipa de caminheiros. Participaram também dirigentes no apoio as respetivas unidades.
    <figure>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="Angular Logo"
            src="../assets/caderno.jpg">
        <figcaption style="text-align:center;margin-top: 5px;">Caderno de atas do Conselho de Guias</figcaption>
    </figure>
</div>
<p></p>
<div class="cardcontent">
    <h2>Década. 50/60</h2>
    <h5><i>“A reorganização”</i></h5>
    <hr>
    Em 23 de Setembro de 1950 o Coronel J. S. Wilson, diretor do Bureau Internacional da Boy-Scout Association (Inglaterra) visita o Agrupamento. Foi recebido pelo Chefe de Grupo Manuel Teixeira de Carvalho.
    <p></p>
    A Alcateia 40 e o Grupo 74 deram origem em 1957, de acordo com a reorganização de todas as Unidades a
    nível Nacional, ação promovida pela Junta Central, ao atual Agrupamento nº 10.
    O primeiro Chefe de Agrupamento foi o dirigente Gaspar Leitão.
    <p></p>
    A título de curiosidade, na altura os Agrupamentos eram numerados em carateres romanos, de modo a se
    distinguirem do número de Unidades que era em números árabes. Assim, o nosso Agrupamento era denominado
    pelo X.
    Em 1966 é filiado o Clã 5 tendo como Patrono D. Afonso Henriques.
    <p></p>
    Entre 31 de Julho e 9 de Agosto de 1967 é celebrado o 12º Janboree Mundiam em Farragaut (EUA). NEsta atividade terão participado dois exploradores do Agrupamento, num total de 12000 escuteiros de todo o mundo. Entre os distintos visitantes do Jamboree contavam-se Olave Baden-Powell e o vice-presidente dos EUA, Hubert Humphrey.
    <p></p>
    O novo pároco de Cedofeita, padre Manuel Martins, convida para dorigir o Agrupamento o dirigente António Ferreira da Silva, que se torna o segundo Chefe de Agrupamento e no qual colaborou até 1970. 
    <p></p>
    <figure>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="Angular Logo"
            src="../assets/bandeira_original.jpg">
        <figcaption style="text-align:center;margin-top: 5px;">Bandeira original</figcaption>
    </figure>
</div>
<p>
</p>
<div class="cardcontent">
    <h2>Década 30/40</h2>
    <h5><i>“Fundação do Agrupamento”</i></h5>
    <hr>
    No dia 15 de novembro de 1931, por iniciativa do então Pároco de Cedofeita, D. António Valente da
    Fonseca, mais tarde Bispo de Vila Real, fundaram-se a Alcateia 40 S. Jorge, tendo como Chefe de Alcateia
    Augusto Manuel Nunes Ferreira e o Grupo 74, tendo como chefe de Grupo Ilídio Augusto Barros Feliz.
    <p></p>
    Faziam parte da Direção o Chefe Administrativo (hoje Secretário de Agrupamento) Leonardo Pedro de
    Castro Júnior e o Diretor (hoje Assistente de Agrupamento) D. António Valente da Fonseca.
    A Alcateia começou com dois bandos de Lobitos e o Grupo com duas patrulhas de “scouts”: A patrulha
    Leão e a patrulha Canguru. 
    <p></p>
    No dia onde se comemorava a festa do Padroeiro da Paróquia S. Martinho, assistiu-se à
    inauguração destas Unidades escutistas, que proporcionaram um agradável espetáculo a todos os
    paroquianos, tendo convidado nessa altura todos os Grupos e Alcateias do Núcleo do Porto.
    <p></p>
    Em 31 de Janeiro de 1937 a Flor de Lis, orgão oficial do CNE, dedica uma longa reportagem com fotografias de diversos dirigentes e escuteiros do Grupo 74 e Alcateia 40 de Cedofeita. Comemorava-se nesta altura o 6º aniversário da fundação do Escutismo em Cedofeita.
    <p></p>
    No aniversário do Grupo nº 9 de Vilarinho, a 9 de Maio de 1946, os escuteiros do grupo 74, após terem acampado na serra de S. Miguel, regressam de bicicleta para saudarem os irmãos escutas daquela localidade.
    <p></p>
    Em 26 de Abril de 1943, realiza-se a peça de teatro "Traços Rápidos", onde os rapazes do 74 à meia-noite ainda não tinham iniciado a segunda parte! Foi uma festa muito interessante, que muito agradou pela música e espetáculo, quer pela assistência numerosa que lá se encontrava.
    <p></p>
    <figure>
        <img style="display: block; margin-left: auto; margin-right: auto; width: 50%;" alt="Angular Logo"
            src="../assets/padre_manuel_fonseca.jpg">
        <figcaption style="text-align:center;margin-top: 5px;">Padre Manuel Valente da Fonseca</figcaption>
    </figure>
</div>