ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(87, 163, 0);
  border-radius: 25px;
}

li {
  float: left;
  border-right: solid 2px rgb(197, 255, 197);
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(200, 255, 0);
}

li.dropdown {
  display: inline-block;
}

.resp-button {
  visibility: hidden;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(197, 255, 197);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 900;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(200, 255, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  border-radius: 25px;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-align: left;
  font-size: 300%;
}

* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
  border-radius: 25px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 5px;
}

/* Add a card effect for articles */
.card {
  background-color: #eeeeee;
  padding: 10px;
  margin-top: 5px;
  border-radius: 25px;
}

h1 {
  color: red;
  border-radius: 25px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.icon {
  display: none;
  visibility: hidden;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 830px) {
  .dropdown-content {
    display: none;
    visibility: hidden;
  }

  li {
    visibility: hidden;
    display: none;
    width: 0%;
  }

  ul {
    display: table;
    width: 100%;
  }


  li.icon {
    display: table-cell;
    visibility: visible;
    width: 100%;
  }

  a {
    width: 100%;
    height: 100%;
  }
}

.activity:hover {
  transform: scale(1.01);
  -ms-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -o-transform: scale(1.01);
}
