<html>

<head>
  <!-- Place your kit's code here -->
  <script src="https://kit.fontawesome.com/87738ac110.js"></script>
</head>
<div class="background">
  <div class="container">
    <img class="mySlides" src="../../../assets/banner.jpg" alt="custom_html_banner1"
      style="width:100%; height:200px;object-fit: cover; border-radius: 25px;">
    <div class="bottom-left" routerLinkActive="active" routerLink="/home">Agrupamento 10 Cedofeita</div>
  </div>

  <ul (click)="showMenu()">
    <!-- http://agr740areosa.org/ -->
    <li class="icon"><a><i class="fas fa-bars menu"></i> Menú</a></li>
    <li class="route"><a routerLinkActive="active" routerLink="/home">Início</a></li>
    <li class="dropdown route">
      <a routerLinkActive="active" routerLink="/agrupamento">Agrupamento</a>
      <div class="dropdown-content">
        <a routerLinkActive="active" routerLink="/agrupamento/historia">História</a>
      </div>
    </li>
    <li class="dropdown route">
      <a routerLinkActive="active" routerLink="/seccoes">Secções</a>
      <div class="dropdown-content">
        <a routerLinkActive="active" routerLink="/seccoes/lobitos">Lobitos</a>
        <a routerLinkActive="active" routerLink="/seccoes/exploradores">Exploradores</a>
        <a routerLinkActive="active" routerLink="/seccoes/pioneiros">Pioneiros</a>
        <a routerLinkActive="active" routerLink="/seccoes/caminheiros">Caminheiros</a>
      </div>
    </li>
    <li class="route"><a routerLinkActive="active" routerLink="/documentos">Material Apoio</a></li>
    <li class="route"><a routerLinkActive="active" routerLink="/eventos">Eventos</a></li>
    <li class="route"><a routerLinkActive="active" routerLink="/galeria">Galeria</a></li>
    <li class="route"><a routerLinkActive="active" routerLink="/contactos">Contactos</a></li>
  </ul>

  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <router-outlet (activate)="scrollTop($event)"></router-outlet>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <div class="cardcontent">
          <h3>Escuteiro do Mês</h3>
          <hr>
          <img src="../../../assets/ze-rodrigo.jpg" style="width:100%; height: 200px ;object-fit: cover">
          <p>O Zé Rodrigo é o pioneiro mais fixe que a comunidade tem, e todos devemos apreciar a sua presença.</p>
        </div>
      </div>
      <div class="card">
        <div class="cardcontent">
          <h3>Atividades</h3>
          <hr>
          <a routerLinkActive="active" routerLink="/galeria">
            <img class="activity" src="../../../assets/passagens/pass1.jpg"
              style="width:100%; height:100px;object-fit:cover">
          </a>
          <a routerLinkActive="active" routerLink="/galeria">
            <img class="activity" src="../../../assets/banco_alimentat.jpg"
              style="width:100%; height:100px;object-fit:cover">
          </a>
          <a routerLinkActive="active" routerLink="/galeria">
            <img class="activity" src="../../../assets/momento_agrupamento.jpg"
              style="width:100%; height:100px;object-fit:cover">
          </a>
        </div>
      </div>
    </div>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      alert("");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }

  </script>
  <footer class="card">
    <a target="_blank" href="https://www.escutismo.pt/">Agrupamento 10 Cedofeita</a> &copy; 2021.
    <span class="float-right">Powered by
      <a target="_blank" href="http://angular.io">Angular</a>
    </span>
  </footer>
</div>

</html>