<div class="cardcontent">
<h2>Contactos</h2>
<hr>
<p></p>
Paróquia: Cedofeita
<p></p>
Patrono: S. Martinho
<p></p>
Núcleo: Cidade do Porto
<p></p>
Região: Porto
<p></p>
Morada da sede: Rua Aníbal Cunha, 193 - Edifício anexo à Igreja Paroquial,
Porto, Portugal
<p></p>
<agm-map [zoom]="15" [latitude]="41.155498" [longitude]="-8.621905">
  <agm-marker [latitude]="41.155498" [longitude]="-8.621905"></agm-marker>
</agm-map>
<p></p>
Código Postal: 4050-105 Porto
<p></p>
Morada para correspondência: Rua Alto da Bela, nº62 Porto 4300-023 PORTO
Portugal
<p></p>
Telefone: 919824994
<p></p>
Facebook:
<a href="https://www.facebook.com/10cedofeita.cne/" target="_blank">
  https://www.facebook.com/10cedofeita.cne/</a>
<p></p>
E-mail: <a href="mailto:geral.10@escutismo.pt">geral.10@escutismo.pt</a>
</div>