<p></p>
<h1>Agrupamento: 10 - Cedofeita</h1>
<p></p> Paróquia: Cedofeita
<p></p> Patrono: S. Martinho
<p></p> Núcleo: Cidade do Porto
<p></p> Região: Porto
<p></p> Morada da sede:
Rua Aníbal Cunha, 193 - Edifício anexo à Igreja Paroquial,
Porto, Portugal
<p></p> Código Postal: 4050-105 Porto
<p></p> Morada para correspondência:
Rua Alto da Bela, nº62
Porto
4300-023 PORTO
Portugal
<p></p> Telefone: 919824994
<p></p> Facebook: <a href="https://www.facebook.com/10cedofeita.cne/">https://www.facebook.com/10cedofeita.cne/</a>
<p></p> E-mail: <a href="mailto:geral.10(at)escutismo.pt">geral.10(at)escutismo.pt</a>
