<p></p>
<div class="card">
  <h2>Regulamento do Uniforme</h2>
  <p></p>
  <ul>
    <li><a href="../../assets/regulamento_uniformes.pdf" target="_blank">
        <i class="far fa-file-pdf"></i> Regulamento do uniforme
      </a>
    </li>
    <p></p>
    <p></p>
    <p></p>
    <li><a
        href="http://biblioteca.cne-escutismo.pt/alfresco/d/a/workspace/SpacesStore/24b0fd77-9b1f-4b9d-85de-17a53b350155/regulamento_uniformes_distintivos_bandeiras.pdf"
        target="_blank">
        <i class="far fa-file-pdf"></i> Regulamento do uniforme
      </a>
    </li>
  </ul>
</div>
<p></p>
<div class="card">
  <h2>Livros da Secção</h2>
  <h5>Lobitos</h5>
  <p></p>
  <ul>
    <li><a href="http://agr658.cne-escutismo.pt/uploads/Caderno_CacaLobitos.pdf" target="_blank">
        <i class="far fa-file-pdf"></i> Caderno de Caça
      </a>
    </li>
  </ul>
  <h5>Exploradores</h5>
  <p></p>
  <ul>
    <li><a href="http://leiria.cne-escutismo.pt/web/source/doc/Caderno_de_Descobertas.pdf" target="_blank">
        <i class="far fa-file-pdf"></i> Caderno de Descobertas
      </a>
    </li>
  </ul>
  <h5>Pioneiros</h5>
  <p></p>
  <ul>
    <li><a
        href="http://moodle.cne-escutismo.pt/file.php/1/Documentos/Pedagogica/Diario_de_Vivencias_-_Pioneiros_e_Marinheiros.pdf"
        target="_blank">
        <i class="far fa-file-pdf"></i> Diário das Vivências
      </a>
    </li>
  </ul>
  <h5>Caminheiros</h5>
  <p></p>
  <ul>
    <li><a href="http://moodle.cne-escutismo.pt/file.php/1/Documentos/Pedagogica/diario_de_percurso.pdf"
        target="_blank">
        <i class="far fa-file-pdf"></i> Diario de Percurso
      </a>
    </li>
  </ul>
</div>
<p></p>

<p></p>
<div class="card">
  <h2>Lei e Promessa do Lobito</h2>
  <h5>Lei</h5>
  <p></p>
  <ol>
    <li>O Lobito escuta Aquelá</li>
    <li> O Lobito não se escuta a si próprio </li>
  </ol>
  <h5>Máximas</h5>
  <p></p>
  <ol>
    <li>O Lobito pensa primeiro no seu semelhante</li>
    <li> O Lobito sabe ver e ouvir </li>
    <li>O Lobito é asseado</li>
    <li> O Lobito é verdadeiro </li>
    <li>O Lobito é alegre</li>
  </ol>
  <h5>Promessa</h5>
  <p></p>
  Prometo, da melhor vontade:
  <ol>
    <li>Ser amigo de Jesus, amando os outros;</li>
    <li>Respeitar a Lei da Alcateia;</li>
    <li>Praticar diariamente uma boa acção.</li>
  </ol>
</div>
<p></p>
<div class="card">
  <h2>Lei e Promessa do Escuteiro</h2>
  <h5>Príncipios</h5>
  <p></p>
  <ol>
    <li>O Escuta orgulha-se da sua Fé e por ela orienta toda a sua vida.</li>
    <li> O Escuta é filho de Portugal e bom cidadão. </li>
    <li> O dever do Escuta começa em casa. </li>
  </ol>
  <h5>Artigos</h5>
  <p></p>
  <ol>
    <li>A Honra do Escuta inspira confiança.</li>
    <li> O Escuta é Leal. </li>
    <li>O Escuta é útil e pratica diariamente uma boa acção.</li>
    <li> O Escuta é amigo de todos e irmão de todos os outros Escutas. </li>
    <li>O Escuta é delicado e respeitador.</li>
    <li> O Escuta protege as plantas e os animais.</li>
    <li> O Escuta é obediente.</li>
    <li>O Escuta tem sempre boa disposição de espírito.</li>
    <li> O Escuta é sóbrio, económico e respeitador do bem alheio. </li>
    <li> O Escuta é puro nos pensamentos, nas palavras e nas acções.</li>
  </ol>
  <h5>Promessa</h5>
  <p></p>
  Prometo, pela minha honra e com a graça de Deus, fazer todo o possível por:
  <ol>
    <li>Cumprir cada vez melhor os meus deveres para com Deus, a Igreja e a Pátria;</li>
    <li>Auxiliar os meus semelhantes em todas as circunstâncias;</li>
    <li>Obedecer à Lei do Escuta.</li>
  </ol>
</div>
<p></p>
<div class="card">
  <h2>Cargos</h2>
  <ul>
    <li>Guia</li>
    <li>Sub-Guia </li>
    <li>Secretário </li>
    <li>Tesoureiro</li>
    <li>Guarda de Material </li>
    <li>Animador </li>
    <li>Socorrista</li>
    <li>Chefe de Cozinha</li>
    <li>Relações Públicas</li>
  </ul>
</div>
<p></p>