<div class="cardcontent">
  <h2>Secções</h2>
  <hr>
  <p></p>
  <table>
    <tr>
      <td>
        <div class="card">
          <a routerLinkActive="active" routerLink="lobitos">
            <img src="../../assets/lobitos_progresso.png">
            <p></p>Lobitos
          </a>
        </div>
      </td>
      <td>
        <div class="card">
          <a routerLinkActive="active" routerLink="exploradores">
            <img src="../../assets/exploradores_progresso.png">
            <p></p> Exploradores
          </a>
        </div>
      </td>
    <tr>
      <td>
        <p></p>
      </td>
    </tr>
    <tr>
      <td>
        <div class="card">
          <a routerLinkActive="active" routerLink="pioneiros">
            <img src="../../assets/pioneiros_progresso.png">
            <p></p>Pioneiros
          </a>
        </div>
      </td>
      <td>
        <div class="card">
          <a routerLinkActive="active" routerLink="caminheiros">
            <img src="../../assets/caminheiros_progresso.png">
            <p></p>Caminheiros
          </a>
        </div>
      </td>
    </tr>
  </table>
</div>