<p></p>
<h1>Secções</h1>
<p></p>
<table style="width:100%">
  <tr>
    <td>
      <a href="seccoes/lobitos">
        <div class="secc">
          <img src="../../assets/lobitos_progresso.png">
          <p></p>Lobitos
        </div>
      </a>
    </td>
    <td>
      <a href="seccoes/exploradores">
        <div class="secc">
          <img src="../../assets/exploradores_progresso.png">
          <p></p> Exploradores
        </div>
      </a>
    </td>
  <tr>
    <td>
      <p></p>
    </td>
  </tr>
  <tr>
    <td>
      <a href="seccoes/pioneiros">
        <div class="secc">
          <img src="../../assets/pioneiros_progresso.png">
          <p></p>Pioneiros
        </div>
      </a>
    </td>
    <td>
      <a href="seccoes/caminheiros">
        <div class="secc">
          <img src="../../assets/caminheiros_progresso.png">
          <p></p>Caminheiros
        </div>
      </a>
    </td>
  </tr>
</table>