<!--<div class="calendar" *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
</div>-->
<div class="cardcontent">
    <h2>Eventos e Proximas Datas</h2>
    <hr>
    <p></p>
    <h5>Dezembro</h5>
    <ul>
        <li><b>14 de Dezembro</b> - Ultima reunião dos Lobitos em 2019!</li>
    </ul>

    <h5>Janeiro</h5>
    <ul>
        <li><b>4 de Janeiro</b> - Conga e EnCargos</li>
        <p></p>
        <li><b>11/12 de Janeiro</b> - Atividade dos Lobitos</li>
        <p></p>
        <p></p>
        <li><b>O mês todo</b> - Cantar as Janeiras!</li>
    </ul>
</div>