<!--<div class="calendar" *ngIf="calendarOptions">
    <ng-fullcalendar #ucCalendar [options]="calendarOptions" (eventClick)="eventClick($event.detail)" (eventDrop)="updateEvent($event.detail)"
        (eventResize)="updateEvent($event.detail)" (clickButton)="clickButton($event.detail)"></ng-fullcalendar>
</div>-->
<div class="cardcontent">
    <h2>Eventos e Proximas Datas</h2>
    <hr>
    <p></p>
    <div *ngFor="let month of calendar">
        <h5>{{month.name}}</h5>
        <table>
            <tr>
                <th></th>
                <th>Lobitos</th>
                <th>Exploradores</th>
                <th>Pioneiros</th>
                <th>Camineiros</th>
            </tr>
            <tr *ngFor="let event of month.events">
                <td><li style="text-align: left; padding-inline-start: 20px;"><b>{{event.day}} de {{month.name}}</b> - {{event.description}}</li></td>
                <td><span *ngIf="event.lobitos" class="dot lobitos"></span></td>
                <td><span *ngIf="event.exploradores" class="dot exploradores"></span></td>
                <td><span *ngIf="event.pioneiros" class="dot pioneiros"></span></td>
                <td><span *ngIf="event.caminheiros" class="dot caminheiros"></span></td>
            </tr>
            </table>
            <p></p>
    </div>
    <hr>

    <p></p>
    <div *ngFor="let month of calendar">
        <h5>{{month.name}}</h5>
        <ul *ngFor="let event of month.events">
            <li><b>{{event.day}} de {{month.name}} </b> - {{event.description}} &nbsp;
                <span *ngIf="event.lobitos" class="dot lobitos"></span> &nbsp;
                <span *ngIf="event.exploradores" class="dot exploradores"></span>&nbsp;
                <span *ngIf="event.pioneiros" class="dot pioneiros"></span>&nbsp;
                <span *ngIf="event.caminheiros" class="dot caminheiros"></span>
            </li>
        </ul>
    </div>
</div>