table{
    width: 100%;
    border-collapse: collapse;
}

.eventTable{
  display: inline;
}
.eventList{
  display: none;
}

td {
    text-align:center;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.lobitos {
  background-color: yellow;
}

.exploradores {
  background-color: green;
}

.pioneiros {
  background-color: blue;
}

.caminheiros {
  background-color: red;
}

.agrupamento {
  background-color: darkgreen;
}

@media screen and (max-width: 600px) {
  .eventTable {
    display: none;
  }
  .eventList{
    display: inline;
  }
}
